body{
    background-color: aquamarine;
}

#container{
    display: flex;
    flex-direction: column;
    border: 2px solid darkslategrey;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    
}

button{
    margin-left: 5px;
    margin-right: 5px;
}

input{
    margin-left 5px;
    margin-right: 5px;
}

#calcArea{
    display: inline-flex;
    padding-bottom: 60px;
}
