*, *::before, *::after{
    box-sizing: border-box;
    font-family:monospace, sans-serif;
}

body{
    background-color: darkslategrey;  
    padding: 0;
    margin: 0;
}

#container{
    display: grid;
    min-height: 100vh;
    grid-template-areas:"blank1 calculator-body calcHistory blank";
    grid-template-columns: .25fr 1fr 1fr .25fr;
    grid-template-rows: auto;
    
}

#blank1{
    grid-area: blank1;
}

.calculator-body{
    display: grid;
    justify-content: left;
    align-content: center;
    
    margin: 50px; 
    /* unsure if I wasnt 100vh because I need to put results somewhere */
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    grid-area: calculator-body;
    
}

/* .output{
    border-radius: 5px;
} */

.calculator-body > button{
    font-size: 1.5rem;
    border: 3px solid black;
    /* border-radius: 5px; */
    outline: none;
    
}

.calculator-body > button:hover{
    background-color: gray;
    color: white;
    
}

.previous-calculation{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
    overflow-wrap: break-word; 
}

.current-calculation{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 2.5rem;
    overflow-wrap: break-word; 
}

#ac-button, #equals-button{
    grid-column: span 2;
}

.output{
    grid-column: 1/ -1;
    background-color: black;
    color: greenyellow;
}

#calcHistory{
    background-color: aquamarine;
    grid-area: calcHistory;
    margin: 50px;
}

#blank{
    grid-area: blank;
}

h2{
    text-align: center;
}

li{
    margin: 5px;
}


@media only screen and (max-width: 600px) {
#container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "calculator-body" 
    "calcHistory";
    
    }
    .calculator-body{
        grid-area: calculator-body;
        margin-bottom: 20px;
      
    }

    /* #blank1{
        grid-area: blank1;
    } */
    #calcHistory{
        max-width: 400px;
        grid-area: calcHistory;
        margin-top: 10px;
       
    }

}

